<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--如果使用Mybatis的DAO接口动态代理，则namespace必须为DAO接口的全路径-->
<mapper namespace="lyc.java.LSpringBoot.dao.UserMapper">
    <select id="selectUser" parameterType="string" resultType="lyc.java.LSpringBoot.dto.User">
        select * from user where id = #{id}
    </select>
</mapper>